body{
    background-color: #F2E5E5;
}

h1{
    color: #002B5B;
    font-family: Helvetica, sans-serif;
}

h3{
    color: #002B5B;
    font: Helvetica, sans-serif;
}

#skills tr:nth-child(even){
    background-color: #F2E5E5;
}

#skills tr:hover {
    background-color: #CE7777;
}

#skills td{
    border: 1px solid #F2E5E5;
    padding: 8px;
  }

#details td {
    border: 5px;
    padding: 10px;
}

#contact tr{
    background-color: #E8C4C4;
}
#contact td{
    border: 1px solid #E8C4C4;
    padding: 8px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid red;
    background-color: #F2E5E5;
    }

input[type=email]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid red;
    background-color: #F2E5E5;
    
}

textarea{
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border-bottom: 2px solid red;
    border-radius: 4px;
    background-color: #F2E5E5;
    font-size: 16px;
    
}

input[type=submit] {
    background-color: #CE7777;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
